/* CSS variables */
:root {
    /* Main body font and h3-h6 */
    --primary-font: 'Montserrat', sans-serif;
    /* h1 & h2 font */
    --secondary-font: 'Metamorphous', serif;
    /* Dark blue */
    --primary-color: #022C40;
    /* Turquoise */
    --secondary-color: #2C8376;
    /* Light blue */
    --tertiary-color: #9FC9DF;
    /* Light blue border, 50% opacity */
    --border-color: #9FC9DF80;
    /* White */
    --white: #FFFFFF;
    /* Set default font size / line height */
    font-size: 18px;
    line-height: 28px;
    /* Navbar height */
    --navbar-height: 69.9833px;
}

/* Global styles */
/* Force Y scroll when lightbox is open */
html.fslightbox-open {
    overflow-y: scroll;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    /* Push the top of the header down under the fixed navbar */
    padding-top: var(--navbar-height);
}

/* Typography */
h1,
h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.small-text {
    font-size: 0.78rem;
}

a {
    color: var(--secondary-color);
}

/* Buttons */
.btn {
    font-weight: 600;
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-primary.active {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-secondary.hover-white:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--primary-color);
}

.btn.btn-read-more {
    padding: 0;
    color: var(--secondary-color);
}

.btn.btn-read-more.primary {
    color: var(--primary-color);
}

.btn.btn-read-more:hover,
.btn.btn-read-more:focus {
    color: var(--primary-color);
}

.btn.btn-read-more:hover i,
.btn.btn-read-more:focus i {
    margin-left: 20px;
}

.btn i {
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

/* Border */
.border-top {
    border-top: 1px solid rgba(159, 201, 223, 0.5);
}

/* Cards */
.card {
    background-color: var(--primary-color);
}

.card.featured {
    height: 100%;
}

.card.featured:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#022c40+0,022c40+100&0+0,1+100 */
    background: linear-gradient(to bottom, rgba(2, 44, 64, 0) 0%, rgba(2, 44, 64, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 1;
    mix-blend-mode: multiply;
}

.card .card-img-overlay {
    z-index: 2;
}

/* Card image overlay */
.card.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1;
    mix-blend-mode: multiply;
    opacity: 0.5;
}

.card .card-img {
    min-height: 250px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Zoom-in effect on journal cards wrapped in a link */
.card-wrapper:hover .card .card-img,
.card-wrapper:focus .card .card-img {
    transform: scale(1.05);
}

/* Move link arrow on journal cards on hover and focus */
.card-wrapper:hover .card .btn.btn-read-more i,
.card-wrapper:focus .card .btn.btn-read-more i {
    margin-left: 20px;
}

/* Navbar */
#navbar {
    padding-top: 0.666rem;
    padding-bottom: 0.666rem;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
}

#navbar .logo {
    width: 195px;
}

#navbar .navbar-toggler {
    padding: 0;
    border: none;
}

#navbar .navbar-toggler .navbar-toggler-icon {
    /* Change colour of default svg icon used */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%282, 44, 64, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbar .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    color: var(--primary-color);
    transition: color 0.2s ease-in-out;
}

#navbar .navbar-nav .nav-item .nav-link.active,
#navbar .navbar-nav .nav-item .nav-link:hover,
#navbar .navbar-nav .nav-item .nav-link:focus {
    color: var(--secondary-color);
}

/* Header */
#header .card {
    background-color: var(--primary-color);
}

#header .card .card-img {
    /* Set min height of header */
    min-height: 600px;
    /* Set max height of header to 100vh minus header height */
    max-height: 600px;
    /* Set image size to cover to fill space and maintain ratio */
    object-fit: cover;
}

/* Home header styles for parallax effect */
#header.home .card {
    clip-path: inset(0);
    min-height: 860px;
    height: calc(100vh - var(--navbar-height));
    max-height: 1080px;
}

#header.home .card .card-img {
    position: fixed;
    background-attachment: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: unset;
}

/* Header image gradient overlay */
#header .card .card-img-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#022c40+0,022c40+100&1+0,0+100 */
    background: linear-gradient(to bottom, rgba(2, 44, 64, 1) 0%, rgba(2, 44, 64, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 0;
    mix-blend-mode: multiply;
}

#header .card .card-img-overlay .container {
    position: relative;
    z-index: 1;
}

/* Sections */
/* Add scroll margin for anchor links */
.section {
    scroll-margin-top: var(--navbar-height);
}

/* Gallery section */
#highland-highlights {
    background-color: var(--tertiary-color);
}

/* Masonry grid */
#masonry-grid .grid-sizer,
#masonry-grid .grid-item {
    width: 100%;
}

#masonry-grid .grid-item {
    margin-bottom: 20px;
}

#masonry-grid .grid-item a {
    display: block;
    overflow: hidden;
    border-radius: var(--bs-border-radius-xl);
}

#masonry-grid .grid-item a img {
    width: 100%;
    transition: transform 0.3s ease;
}

#masonry-grid .grid-item a:hover img {
    transform: scale(1.05);
}

/* Contact form */
#contact-form {
    position: relative;
    padding-bottom: 20%;
}

#contact-form .form-wrapper {
    background-color: var(--primary-color);
    position: relative;
    z-index: 1;
}

#contact-form .form-label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 0.78rem;
}

#contact-form .form-control {
    padding: 18px 22px;
}

#contact-form textarea {
    height: 150px;
}

#contact-form .btn:focus {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--primary-color);
}

/* Footer */
#footer {
    background-color: var(--primary-color);
}

.footer-logo {
    width: 100%;
    max-width: 195px;
}

.social-links a {
    color: var(--primary-color);
    background-color: var(--white);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 18px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.social-links a:hover,
.social-links a:focus {
    background-color: var(--secondary-color);
    color: var(--white);
}

/* Media queries */
/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

    /* CSS variables */
    :root {
        /* Navbar height */
        --navbar-height: 100px;
    }

    /* Navbar */
    #navbar {
        padding-top: 1.278rem;
        padding-bottom: 1.278rem;
    }

    #navbar .logo {
        width: 260px;
    }

    #navbar .navbar-nav {
        gap: 32px;
    }

    #navbar .navbar-nav .nav-item .nav-link {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    /* Pseudo class for navigation active/hover underline transition */
    #navbar .navbar-nav .nav-item .nav-link:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        background-color: var(--secondary-color);
        width: 0;
        height: 2px;
        transition: width 0.2s ease-in-out;
    }

    #navbar .navbar-nav .nav-item .nav-link:hover:after,
    #navbar .navbar-nav .nav-item .nav-link.active:after,
    #navbar .navbar-nav .nav-item .nav-link:focus:after {
        width: 100%;
        right: auto;
        left: 0;
    }

    /* Header */
    #header .btn.w-100 {
        width: auto !important;
    }

    /* Masonry grid */
    #masonry-grid .grid-item {
        width: calc(50% - 10px);
    }

    /* Contact form */
    #contact-form {
        padding-bottom: auto;
    }

    #contact-form:before {
        right: 0;
        left: auto;
        width: 66.66%;
        height: 100%;
    }

    /* Journal columns - styles to make same height and gap as featured journal */
    .stacked-journals .col-12 {
        min-height: calc(50% - 13.5px);
    }

    .stacked-journals .col-12 .card-wrapper {
        display: block;
        height: 100%;
    }

    .stacked-journals .col-12 .card-wrapper .card {
        height: 100%;
    }
}

/* Extra large devices (Desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    /* Typography */
    h1 {
        font-size: 3.33rem;
    }

    #header .card .card-img-overlay:before {
        height: 66.66%;
    }

    /* 100% height */
    .h-100-xl {
        height: 100%;
    }

}