/* CSS variables */
:root {
    /* Main body font and h3-h6 */
    --primary-font: 'Montserrat', sans-serif;
    /* h1 & h2 font */
    --secondary-font: 'Metamorphous', serif;
    /* Dark blue */
    --primary-color: #022C40;
    /* Turquoise */
    --secondary-color: #3AAC9C;
    /* Light blue */
    --tertiary-color: #9FC9DF;
    /* Light blue border, 50% opacity */
    --border-color: #9FC9DF80;
    /* White */
    --white: #FFFFFF;
    /* Set default font size / line height */
    font-size: 18px;
    line-height: 28px;
    /* Navbar height */
    --navbar-height: 69.9833px;
}

/* Global styles */
body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    /* Push the top of the header down under the fixed navbar */
    padding-top: var(--navbar-height);
}

/* Typography */
h1,
h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

/* Buttons */
.btn {
    font-weight: 600;
    border-radius: 30px;
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn.btn-secondary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-read-more {
    padding: 0;
    color: var(--secondary-color);
}

.btn.btn-read-more:hover {
    color: var(--primary-color);
}

.btn.btn-read-more:hover i {
    margin-left: 20px;
}

.btn i {
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

/* Navbar */
#navbar {
    padding-top: 0.666rem;
    padding-bottom: 0.666rem;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
}

#navbar .logo {
    width: 195px;
}

#navbar .navbar-toggler {
    padding: 0;
    border: none;
}

#navbar .navbar-toggler .navbar-toggler-icon {
    /* Change colour of default svg icon used */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%282, 44, 64, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbar .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    color: var(--primary-color);
    transition: color 0.2s ease-in-out;
}

#navbar .navbar-nav .nav-item .nav-link.active,
#navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--secondary-color);
}

/* Header */
#header .card {
    background-color: var(--primary-color);
    border-radius: 0;
    border: none;
}

#header .card .card-img {
    border-radius: 0;
    /* Set min height of header */
    min-height: 860px;
    /* Set max height of header to 100vh minus header height */
    max-height: calc(100vh - var(--navbar-height));
    /* Set image size to cover to fill space and maintain ratio */
    object-fit: cover;
}

#header .card .card-img-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#022c40+0,022c40+100&1+0,0+100 */
    background: linear-gradient(to bottom, rgba(2, 44, 64, 1) 0%, rgba(2, 44, 64, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 0;
    mix-blend-mode: multiply;
}

#header .card .card-img-overlay .container {
    position: relative;
    z-index: 1;
}

/* Media queries */
/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

    /* CSS variables */
    :root {
        /* Navbar height */
        --navbar-height: 100px;
    }

    /* Navbar */
    #navbar {
        padding-top: 1.278rem;
        padding-bottom: 1.278rem;
    }

    #navbar .logo {
        width: 260px;
    }

    #navbar .navbar-nav {
        gap: 32px;
    }

    #navbar .navbar-nav .nav-item .nav-link {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    /* Pseudo class for navigation active/hover underline transition */
    #navbar .navbar-nav .nav-item .nav-link:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        background-color: var(--secondary-color);
        width: 0;
        height: 2px;
        transition: width 0.2s ease-in-out;
    }

    #navbar .navbar-nav .nav-item .nav-link:hover:after,
    #navbar .navbar-nav .nav-item .nav-link.active:after {
        width: 100%;
        right: auto;
        left: 0;
    }
}

/* Extra large devices (Desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    /* Typography */
    h1 {
        font-size: 3.33rem;
    }

    /* Header */
    #header .card .card-img-overlay {
        /* display: flex; */
        /* align-items: center; */
    }


    #header .card .card-img-overlay:before {
        height: 66.66%;
    }
}